body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #343a40;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 2em 0;
    text-align: center;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #343a40;
}

a {
    color: #007BFF;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-around;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin-bottom: 10px;
}

.projects .project {
    margin-bottom: 30px;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
